*{
  margin:0;
  padding:0;
}

.App{
  text-align: center;
  background-color: #63abd8;
  font-family: cursive;
  /* padding: 50px; */
}
.choice{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;

}
.choice img{
  border-color: black;
  border-radius: 10px;
}
.score{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 12px;
  font-family: serif;
}
.button{
  justify-content:space-around;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  font-weight: 700;
}
.buttons{
  display: flex;
  margin-left: 260px;
  margin-top: 20px;
  
}
.turn-result{
  margin-top: 50px;
  font-size: 10px;
}
.final-result{
  font-size: 20px;
  margin-top: 30px;
}

.Footer{
  height: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 150px;
}

.restart-div button{
  margin-top: 50px;
  padding: 10px;
  font-weight: 700;
  border-width: 2px;
}

.Header{
  padding-top: 50px;
}